<!DOCTYPE html>
<html>
  <head>
    <title>Rails Islands</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%# <%= vite_stylesheet_tag 'application' %1> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
